# Ignore file types
*.xlsx
*.exe
*.sh
*.ini
*.spec

# Ignore specific folders
__pycache__/
build/
dist/
Creations/

# Ignore specific files
UI_Preview_Edited.svg
UI_Preview.png
console_log.txt
inkscape_path.txt